TURSO_DATABASE_URL=libsql://aroha-db-saranshnanda-dev.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODg2MjA3MTksImlkIjoiMDFhMDcyMTYtNjEwMS03OGQ4LWJiYjAtZjk4M2IxODQ0YzBhIiwia2lkIjoiSmNFMm1adXVtNkl1dFVyZEhoSVBKRXlWTnpIOWZJYXNOeXh6c0UtY1NJZyIsInJpZCI6ImRiNTg5MjBkLTZlYjQtNGFhNy1iY2RkLWRkNzZmMDkyZDA3MiJ9.F_biSOIfmvh0caHwpn77fAWKaRS1e8R3a-BzHvAABZonZXamJtWgrLiOUaK-3nIVp3Y8EXvSIbg8mUoN69u_Aw
JWT_SECRET=0a827dae634458b941a43c0869c6967ac34f6f3ff569dfe375912818e6040f3f56bc13771b006b5c3b325d55b8df482fc5cda5a497e1dc6e8f7d8e7a4c6c9ba8
PORT=5000
